
<center>

	<div id="datatable-container">

		<table
			id="category-datatable"
			style="width:100%"
			data-order='[[1,"asc"]]'
			data-page-length='25'
		>
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						Rating System
					</th>
				</tr>
			</thead>
			<tbody></tbody>
			<tfoot></tfoot>
		</table>

	</div>

</center>
