
<center>
	<div id="datatable-container">
		<div class='stem-admin-title'>Attributes for forum categories</div>
		<div style="padding: 15px; float: left;">
			<input type="button" class="stem-button stem-button-blue" id="stem-edit-default-button" value="set default attributes"/>
		</div>
		<table 
			id="datatable" 
			style="width:100%"
			data-order='[[1, "asc"]]'
			data-page-length='25'
		>
			<thead>
				<tr>
					<th>
						<b>Forum Category</b>
					</th>
					<th>
						<b>Attributes and weights</b>
					</th>
					<th>
						<b>Edit</b>
					</th>
					<th>
						<b>Reset</b>
					</th>
				</tr>
			</thead>
			<tbody></tbody>
			<tfoot></tfoot>
		</table>
	</div>

	<div id="edit-container" style="display: none;">
		<div class='stem-admin-title'>Create/Edit a new attribute set</div>
		<form action="stem/update.json" id="update">
			<div style="padding: 15px;">
				<b>Forum Category:</b> <span id="category-name"></span>
			</div>
			<input id="category-id" type="hidden" name="category_id" value="" />
			<div id="criteria-container">

			</div>
			<div style="width: 100%; text-align: right; padding: 12px; font-weight: bold;">
				<a style="padding-right: 150px;" href="#" id="add-criterium">ADD ANOTHER ATTRIBUTE</a>
			</div>
			<div width="100%"></div>
			<input type="submit" value="SAVE" id="update-button" class="stem-button stem-button-green">
			<input type="button" value="CANCEL" id="cancel-button" class="stem-button stem-button-red">
			<input type="button" value="RESET" id="reset-button" class="stem-button stem-button-gray">
		</form>
	</div>
</center>

<script type="text/javascript">

	function stemError(jqXHR, textStatus, errorThrown){
		// todo: error reporting modal?
		console.log("datatable request error");
		console.log(jqXHR, textStatus, errorThrown);
	}

	function stemDisplayTable(e){
		$("#edit-container")[0].style = "display:none;";
		$("#datatable-container")[0].style = "display:true;";
		datatable.ajax.reload();
	}

	function stemDisplayEdit(e){
		$("#datatable-container")[0].style = "display:none;";
		$("#edit-container")[0].style = "display:true;";
	}

	function addCriterium(name, weight){
		var container = $("#criteria-container");
		var div = document.createElement("div");
		var input = document.createElement("input");
		input.type = "text";
		input.placeholder = "Attribute name"
		input.value = name;
		input.name = "criteria_names[]";
		div.append(input);
		var input2 = document.createElement("input");
		input2.type = "number";
		input2.placeholder = "Attribute weight";
		input2.value = weight;
		input2.name = "criteria_weights[]";
		div.append(input2);
		var a = document.createElement("a");
		a.href = "#";
		a.innerHTML = "Remove";
		a.onclick = function(event){
			this.closest('div').remove();
		}
		div.append(a);
		container.append(div);
	}

	function stemEdit(id){
		$.ajax(
			"stem/get.json",
			{
				data: {
					category_id: id
				}, 
				success: function(data){

					var category = data.category;
					$("#category-name")[0].innerHTML = category.name;
					$("#category-id")[0].value = category.id;

					$("#criteria-container")[0].innerHTML = "";
					var criteria = data.criteria;
					for (var index in criteria){
						var c = criteria[index];
						addCriterium(c.name, c.weight);
					}

					stemDisplayEdit();
				},
				error: stemError
			}
		);
	}

	function stemUpdate(e){
		e.preventDefault();
		data = $("#update").serialize();
		$.ajax(
			"stem/update.json",
			{
				data: data,
				success: function(data){
					stemDisplayTable();
				},
				error: stemError
			}
		);
	}

	function stemReset(id){
		$.ajax(
			"stem/reset.json",
			{
				data: {
					category_id: id
				},
				success:function(data) {
					stemDisplayTable();
				},
				error: stemError
			}
		);
	}

	function stemDatatable(){
		datatable = $('#datatable').DataTable({
	    	"processing": true,
	    	"serverSide": true,
	    	"ajax": {
	    		url: "stem/list.json",
	    		type: "get",
	    		error: stemError
	    	}
	    });
	    $("#add-criterium").on('click', function(e){
	    	addCriterium("", "");
	    });

	    $("#update").on('submit', stemUpdate);
	    $("#cancel-button").on('click', stemDisplayTable);
	    $("#reset-button").on('click', function(e){
	    	var category_id = $("#category-id").val();
	    	stemReset(category_id);
	    });
	    $("#stem-edit-default-button").on('click', function(e){
	    	stemEdit(0);
	    });
	}

	$(document).ready( function () {
		var datatable = null;
	    stemDatatable();
	});

</script>
