
<center>
	<div id="datatable-container">
		<div class='stem-admin-title'>Attributes for forum categories</div>
		<div style="padding: 15px; float: left;">
			<input type="button" class="stem-button stem-button-blue" id="stem-edit-default-button" value="set default attributes"/>
		</div>
		<table
			id="ratings-datatable"
			style="width:100%"
			data-order='[[1, "asc"]]'
			data-page-length='25'
		>
			<thead>
				<tr>
					<th>
						<b>Forum Category</b>
					</th>
					<th>
						<b>Attributes and weights</b>
					</th>
					<th>
						<b>Edit</b>
					</th>
					<th>
						<b>Reset</b>
					</th>
				</tr>
			</thead>
			<tbody></tbody>
			<tfoot></tfoot>
		</table>
	</div>

	<div id="edit-container" style="display: none;">
		<div class='stem-admin-title'>Create/Edit a new attribute set</div>
		<form action="stem/update.json" id="update">
			<div style="padding: 15px;">
				<b>Forum Category:</b> <span id="category-name"></span>
			</div>
			<input id="category-id" type="hidden" name="category_id" value="" />
			<div id="criteria-container">

			</div>
			<div style="width: 100%; text-align: right; padding: 12px; font-weight: bold;">
				<a style="padding-right: 150px;" href="#" id="add-criterium">ADD ANOTHER ATTRIBUTE</a>
			</div>
			<div width="100%"></div>
			<input type="submit" value="SAVE" id="update-button" class="stem-button stem-button-green">
			<input type="button" value="CANCEL" id="cancel-button" class="stem-button stem-button-red">
			<input type="button" value="RESET" id="reset-button" class="stem-button stem-button-gray">
		</form>
	</div>
</center>
